* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto Mono", monospace;
}

body {
  display: inline;
  background: black;
  color: #ddd;
  font-size: 1.2rem;
  font-weight: 400;
}

@media screen and (max-width: 500px) {
  body {
    font-size: 0.9rem;
  }
}

@media screen and (min-width: 500px) and (max-width: 768px) {
  body {
    font-size: 0.9rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 1170px) {
  body {
    font-size: 1rem;
  }
}

.container {
  position: relative;
  margin: 20px 15%;
  padding: 10px;
}

@media screen and (min-width: 768px) and (max-width: 1170px) {
  .container {
    margin: 20px 10%;
    padding: 5px;
  }
}

@media screen and (min-width: 500px) and (max-width: 768px) {
  .container {
    margin: 20px 8%;
    padding: 5px;
  }
}

@media screen and (max-width: 500px) {
  .container {
    margin: 20px 5%;
    padding: 2px;
  }
}

.start-up {
  color: #10e710;
}

.name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.name .dollar-sign {
  margin-right: 13px;
}

@media screen and (min-width: 768px) and (max-width: 1170px) {
  .name .dollar-sign {
    margin-right: 10px;
  }
}

@media screen and (min-width: 500px) and (max-width: 768px) {
  .name .dollar-sign {
    margin-right: 9px;
  }
}

@media screen and (max-width: 500px) {
  .name .dollar-sign {
    margin-right: 9px;
  }
}

.name .text {
  white-space: nowrap;
  overflow: hidden;
  width: 3em;
  -webkit-animation: typing 0.7s steps(5) 2s both;
          animation: typing 0.7s steps(5) 2s both;
}

@-webkit-keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 3em;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 3em;
  }
}

.name .blinker-parent {
  -webkit-animation: hide forwards;
          animation: hide forwards;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  height: 15px;
  margin-top: 2px;
}

.name .blinker-parent .blinker {
  border-right: 11px #ddd solid;
  -webkit-animation: blinking 1s steps(2, start) infinite;
          animation: blinking 1s steps(2, start) infinite;
  width: 0px;
  height: 23px;
}

@media screen and (min-width: 768px) and (max-width: 1170px) {
  .name .blinker-parent .blinker {
    border-right: 8px #ddd solid;
    height: 17px;
  }
}

@media screen and (min-width: 500px) and (max-width: 768px) {
  .name .blinker-parent .blinker {
    border-right: 7px #ddd solid;
    height: 15px;
  }
}

@media screen and (max-width: 500px) {
  .name .blinker-parent .blinker {
    border-right: 7px #ddd solid;
    height: 15px;
  }
}

.header-parent {
  height: 360px;
  white-space: nowrap;
  overflow: hidden;
  -webkit-animation: print 0.3s steps(20) 3s both;
          animation: print 0.3s steps(20) 3s both;
}

@-webkit-keyframes print {
  from {
    height: 0;
  }
  to {
    height: 360px;
  }
}

@keyframes print {
  from {
    height: 0;
  }
  to {
    height: 360px;
  }
}

.header-parent .header {
  text-align: center;
  height: 50vh;
}

.header-parent .header .big-text {
  text-align: center;
  line-height: 1.2;
  font-size: 0.9rem;
  margin-top: 30px;
}

@media screen and (min-width: 768px) and (max-width: 1170px) {
  .header-parent .header .big-text {
    font-size: 0.67rem;
    margin-top: 20px;
  }
}

@media screen and (min-width: 500px) and (max-width: 768px) {
  .header-parent .header .big-text {
    font-size: 0.52rem;
    margin-top: 10px;
  }
}

@media screen and (max-width: 500px) {
  .header-parent .header .big-text {
    font-size: 0.3rem;
    margin-top: 10px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1170px) {
  .header-parent {
    height: 300px;
    white-space: nowrap;
    overflow: hidden;
    -webkit-animation: print 0.3s steps(20) 3s both;
            animation: print 0.3s steps(20) 3s both;
  }
  @-webkit-keyframes print {
    from {
      height: 0;
    }
    to {
      height: 300px;
    }
  }
  @keyframes print {
    from {
      height: 0;
    }
    to {
      height: 300px;
    }
  }
}

@media screen and (min-width: 500px) and (max-width: 768px) {
  .header-parent {
    height: 200px;
    white-space: nowrap;
    overflow: hidden;
    -webkit-animation: print 0.3s steps(20) 3s both;
            animation: print 0.3s steps(20) 3s both;
  }
  @-webkit-keyframes print {
    from {
      height: 0;
    }
    to {
      height: 200px;
    }
  }
  @keyframes print {
    from {
      height: 0;
    }
    to {
      height: 200px;
    }
  }
}

@media screen and (max-width: 500px) {
  .header-parent {
    height: 150px;
    white-space: nowrap;
    overflow: hidden;
    -webkit-animation: print 0.3s steps(20) 3s both;
            animation: print 0.3s steps(20) 3s both;
  }
  @-webkit-keyframes print {
    from {
      height: 0;
    }
    to {
      height: 150px;
    }
  }
  @keyframes print {
    from {
      height: 0;
    }
    to {
      height: 150px;
    }
  }
}

.repeater .question {
  color: #10e710;
  margin: 10px 0;
  white-space: nowrap;
  overflow: hidden;
  width: 23em;
  -webkit-animation: typing 1.3s steps(25) 1s both;
          animation: typing 1.3s steps(25) 1s both;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 23em;
  }
}

.repeater .options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  -webkit-animation: typing 0.05s steps(30) 2.5s both;
          animation: typing 0.05s steps(30) 2.5s both;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.repeater .options .button {
  color: #7f87fc;
  border: none;
  outline: none;
  font-size: 1.2rem;
  cursor: pointer;
  margin-bottom: 10px;
  background: none;
  text-decoration: none;
}

.repeater .options .button:hover {
  color: white;
}

.repeater .options .button:active {
  color: #7f87fc;
}

.repeater .options .button:focus {
  border: none;
  outline: none;
}

@media screen and (min-width: 768px) and (max-width: 1170px) {
  .repeater .options .button {
    font-size: 1rem;
  }
}

@media screen and (min-width: 500px) and (max-width: 768px) {
  .repeater .options .button {
    font-size: 0.85rem;
  }
}

@media screen and (max-width: 500px) {
  .repeater .options .button {
    font-size: 0.8rem;
  }
}

.repeater .prompt {
  font-size: 1.1rem;
  margin-top: 20px;
}

.repeater .prompt .username {
  color: #17d0d6;
}

.repeater .prompt .tilda {
  color: yellow;
}

@media screen and (min-width: 768px) and (max-width: 1170px) {
  .repeater .prompt {
    font-size: 0.9rem;
  }
}

@media screen and (min-width: 500px) and (max-width: 768px) {
  .repeater .prompt {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 500px) {
  .repeater .prompt {
    font-size: 0.75rem;
  }
}

.repeater .input-text {
  font-size: 1.1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
}

.repeater .input-text .dollar-sign {
  margin-right: 11px;
}

@media screen and (min-width: 768px) and (max-width: 1170px) {
  .repeater .input-text .dollar-sign {
    margin-right: 9px;
  }
}

@media screen and (min-width: 500px) and (max-width: 768px) {
  .repeater .input-text .dollar-sign {
    margin-right: 8px;
  }
}

@media screen and (max-width: 500px) {
  .repeater .input-text .dollar-sign {
    margin-right: 7px;
  }
}

.repeater .input-text .text-info {
  white-space: nowrap;
  overflow: hidden;
  width: 8.7em;
  -webkit-animation: typing 0.7s steps(14) 1s both;
          animation: typing 0.7s steps(14) 1s both;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 8.7em;
  }
}

.repeater .input-text .text-projects {
  white-space: nowrap;
  overflow: hidden;
  width: 11em;
  -webkit-animation: typing 0.7s steps(14) 1s both;
          animation: typing 0.7s steps(14) 1s both;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 11em;
  }
}

.repeater .input-text .text-links {
  white-space: nowrap;
  overflow: hidden;
  width: 9.2em;
  -webkit-animation: typing 0.7s steps(14) 1s both;
          animation: typing 0.7s steps(14) 1s both;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 9.2em;
  }
}

.repeater .input-text .blinker-parent {
  -webkit-animation: hide forwards;
          animation: hide forwards;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  height: 15px;
  margin-top: 2px;
}

.repeater .input-text .blinker-parent .blinker {
  border-right: 11px #ddd solid;
  -webkit-animation: blinking 1s steps(2, start) infinite;
          animation: blinking 1s steps(2, start) infinite;
  width: 0px;
}

@media screen and (min-width: 768px) and (max-width: 1170px) {
  .repeater .input-text .blinker-parent .blinker {
    border-right: 8px #ddd solid;
    height: 17px;
  }
}

@media screen and (min-width: 500px) and (max-width: 768px) {
  .repeater .input-text .blinker-parent .blinker {
    border-right: 7px #ddd solid;
    height: 15px;
  }
}

@media screen and (max-width: 500px) {
  .repeater .input-text .blinker-parent .blinker {
    border-right: 7px #ddd solid;
    height: 15px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1170px) {
  .repeater .input-text {
    font-size: 0.9rem;
  }
}

@media screen and (min-width: 500px) and (max-width: 768px) {
  .repeater .input-text {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 500px) {
  .repeater .input-text {
    font-size: 0.8rem;
  }
}

.repeater .info {
  margin-bottom: 50px;
}

.repeater .info .about {
  height: auto;
  white-space: nowrap;
  overflow: hidden;
  -webkit-animation: print 0s steps(1) 2s both;
          animation: print 0s steps(1) 2s both;
  margin-top: 30px;
}

@keyframes print {
  from {
    height: 0;
  }
  to {
    height: auto;
  }
}

.repeater .info .about h4 {
  padding: 5px;
  font-weight: 300;
}

.repeater .info .about p {
  font-size: 1rem;
  padding: 10px;
  white-space: normal;
  overflow: visible;
}

@media screen and (min-width: 768px) and (max-width: 1170px) {
  .repeater .info .about p {
    font-size: 0.9rem;
  }
}

@media screen and (min-width: 500px) and (max-width: 768px) {
  .repeater .info .about p {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 500px) {
  .repeater .info .about p {
    font-size: 0.75rem;
  }
}

.repeater .info .about .tech-logos {
  font-size: 2px;
  font-weight: 700;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (min-width: 500px) and (max-width: 768px) {
  .repeater .info .about .tech-logos {
    font-size: 1px;
  }
}

@media screen and (max-width: 500px) {
  .repeater .info .about .tech-logos {
    font-size: 1px;
  }
}

.repeater .info .about .tech-logos .logo-parent {
  margin: 30px auto;
  width: 250px;
  text-align: center;
}

@media screen and (min-width: 500px) and (max-width: 768px) {
  .repeater .info .about .tech-logos .logo-parent {
    width: 130px;
  }
}

@media screen and (max-width: 500px) {
  .repeater .info .about .tech-logos .logo-parent {
    width: 120px;
  }
}

.repeater .info .about .tech-logos .logo {
  overflow: hidden;
  margin: auto;
}

.repeater .info .about .tech-logos .html-logo {
  color: #f5865e;
  border-radius: 0 0 40px 40px;
  text-shadow: 0 0 1px #f5865e;
  width: 130px;
}

@media screen and (max-width: 500px) {
  .repeater .info .about .tech-logos .html-logo {
    width: 69px;
    border-radius: 0 0 25px 25px;
  }
}

@media screen and (min-width: 500px) and (max-width: 768px) {
  .repeater .info .about .tech-logos .html-logo {
    width: 69px;
    border-radius: 0 0 25px 25px;
  }
}

.repeater .info .about .tech-logos .css-logo {
  color: #5cb5fd;
  border-radius: 0 0 40px 40px;
  text-shadow: 0 0 1px #5cb5fd;
  width: 130px;
}

@media screen and (max-width: 500px) {
  .repeater .info .about .tech-logos .css-logo {
    width: 69px;
    border-radius: 0 0 25px 25px;
  }
}

@media screen and (min-width: 500px) and (max-width: 768px) {
  .repeater .info .about .tech-logos .css-logo {
    width: 69px;
    border-radius: 0 0 25px 25px;
  }
}

.repeater .info .about .tech-logos .js-logo {
  color: #eadb55;
  border-radius: 0 0 40px 40px;
  text-shadow: 0 0 1px #eadb55;
  width: 130px;
}

@media screen and (max-width: 500px) {
  .repeater .info .about .tech-logos .js-logo {
    width: 69px;
    border-radius: 0 0 25px 25px;
  }
}

@media screen and (min-width: 500px) and (max-width: 768px) {
  .repeater .info .about .tech-logos .js-logo {
    width: 69px;
    border-radius: 0 0 25px 25px;
  }
}

.repeater .info .about .tech-logos .sass-logo {
  color: #ff55cc;
  border-radius: 15px;
  text-shadow: 0 0 1px #ff55cc;
  width: 165px;
}

@media screen and (max-width: 500px) {
  .repeater .info .about .tech-logos .sass-logo {
    width: 75px;
    border-radius: 10px;
  }
}

@media screen and (min-width: 500px) and (max-width: 768px) {
  .repeater .info .about .tech-logos .sass-logo {
    width: 75px;
    border-radius: 10px;
  }
}

.repeater .info .about .tech-logos .react-logo {
  color: #52c1f1;
  border-radius: 30px;
  text-shadow: 0 0 1px #52c1f1;
  width: 140px;
}

@media screen and (max-width: 500px) {
  .repeater .info .about .tech-logos .react-logo {
    width: 70px;
    border-radius: 15px;
  }
}

@media screen and (min-width: 500px) and (max-width: 768px) {
  .repeater .info .about .tech-logos .react-logo {
    width: 70px;
    border-radius: 15px;
  }
}

.repeater .info .about .tech-logos .npm-logo {
  color: #fb4949;
  text-shadow: 0 0 1px #fb4949;
  width: 180px;
}

@media screen and (max-width: 500px) {
  .repeater .info .about .tech-logos .npm-logo {
    width: 90px;
  }
}

@media screen and (min-width: 500px) and (max-width: 768px) {
  .repeater .info .about .tech-logos .npm-logo {
    width: 90px;
  }
}

.repeater .info .about .tech-logos .git-logo {
  color: #f56156;
  border-radius: 100px;
  text-shadow: 0 0 1px #f56156;
  width: 135px;
}

@media screen and (max-width: 500px) {
  .repeater .info .about .tech-logos .git-logo {
    width: 70px;
    border-radius: 50px;
  }
}

@media screen and (min-width: 500px) and (max-width: 768px) {
  .repeater .info .about .tech-logos .git-logo {
    width: 70px;
    border-radius: 50px;
  }
}

.repeater .info .about .tech-logos .github-logo {
  border-radius: 77px;
  text-shadow: 0 0 1px;
  width: 140px;
}

@media screen and (max-width: 500px) {
  .repeater .info .about .tech-logos .github-logo {
    width: 70px;
    border-radius: 50px;
  }
}

@media screen and (min-width: 500px) and (max-width: 768px) {
  .repeater .info .about .tech-logos .github-logo {
    width: 70px;
    border-radius: 50px;
  }
}

.repeater .info .about .tech-logos .unity-logo {
  border-radius: 20px;
  text-shadow: 0 0 1px;
  width: 120px;
}

@media screen and (max-width: 500px) {
  .repeater .info .about .tech-logos .unity-logo {
    width: 65px;
    border-radius: 10px;
  }
}

@media screen and (min-width: 500px) and (max-width: 768px) {
  .repeater .info .about .tech-logos .unity-logo {
    width: 65px;
    border-radius: 10px;
  }
}

.repeater .info .about .tech-logos .python-logo {
  color: #74c0fd;
  border-radius: 50px;
  width: 125px;
}

@media screen and (max-width: 500px) {
  .repeater .info .about .tech-logos .python-logo {
    width: 65px;
    border-radius: 30px;
  }
}

@media screen and (min-width: 500px) and (max-width: 768px) {
  .repeater .info .about .tech-logos .python-logo {
    width: 65px;
    border-radius: 30px;
  }
}

.repeater .info .about .tech-logos .flask-logo {
  border-radius: 10px;
  width: 160px;
}

@media screen and (max-width: 500px) {
  .repeater .info .about .tech-logos .flask-logo {
    width: 85px;
    border-radius: 10px;
  }
}

@media screen and (min-width: 500px) and (max-width: 768px) {
  .repeater .info .about .tech-logos .flask-logo {
    width: 85px;
    border-radius: 10px;
  }
}

.repeater .info .about .tech-logos .vscode-logo {
  color: #4866ff;
  border-radius: 30px;
  text-shadow: 0 0 1px #4866ff;
  width: 120px;
}

@media screen and (max-width: 500px) {
  .repeater .info .about .tech-logos .vscode-logo {
    width: 70px;
    border-radius: 20px;
  }
}

@media screen and (min-width: 500px) and (max-width: 768px) {
  .repeater .info .about .tech-logos .vscode-logo {
    width: 70px;
    border-radius: 20px;
  }
}

.repeater .info .projects {
  height: auto;
  white-space: nowrap;
  overflow: hidden;
  -webkit-animation: print 0s steps(1) 2s both;
          animation: print 0s steps(1) 2s both;
  margin: 20px;
}

@keyframes print {
  from {
    height: 0;
  }
  to {
    height: auto;
  }
}

.repeater .info .projects .project {
  margin-bottom: 30px;
  padding: 20px 0;
  border-bottom: 1px solid white;
}

.repeater .info .projects .project h1 {
  font-size: 2.5rem;
  font-weight: 400;
  color: #8bb1d4;
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) and (max-width: 1170px) {
  .repeater .info .projects .project h1 {
    font-size: 2.2rem;
    margin-bottom: 5px;
  }
}

@media screen and (min-width: 500px) and (max-width: 768px) {
  .repeater .info .projects .project h1 {
    font-size: 2.1rem;
    margin-bottom: 0;
  }
}

@media screen and (max-width: 500px) {
  .repeater .info .projects .project h1 {
    font-size: 2rem;
    margin-bottom: 0;
  }
}

.repeater .info .projects .project a {
  color: #f8b358;
  font-size: 1rem;
  font-weight: 400;
  text-decoration: none;
}

.repeater .info .projects .project a:hover {
  color: white;
}

.repeater .info .projects .project a:active {
  color: #f8b358;
}

@media screen and (min-width: 768px) and (max-width: 1170px) {
  .repeater .info .projects .project a {
    font-size: 0.9rem;
  }
}

@media screen and (min-width: 500px) and (max-width: 768px) {
  .repeater .info .projects .project a {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 500px) {
  .repeater .info .projects .project a {
    font-size: 0.75rem;
  }
}

.repeater .info .projects .project p {
  font-size: 1.2rem;
  padding: 0 20px;
  margin-top: 20px;
  white-space: normal;
}

@media screen and (min-width: 768px) and (max-width: 1170px) {
  .repeater .info .projects .project p {
    font-size: 1rem;
  }
}

@media screen and (min-width: 500px) and (max-width: 768px) {
  .repeater .info .projects .project p {
    margin-top: 15px;
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 500px) {
  .repeater .info .projects .project p {
    margin-top: 10px;
    font-size: 0.8rem;
  }
}

.repeater .info .links {
  height: auto;
  white-space: nowrap;
  overflow: hidden;
  -webkit-animation: print 0s steps(1) 2s both;
          animation: print 0s steps(1) 2s both;
  margin: 50px 0 70px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@keyframes print {
  from {
    height: 0;
  }
  to {
    height: auto;
  }
}

.repeater .info .links a .icon {
  font-size: 50px;
  color: white;
}

@media screen and (min-width: 768px) and (max-width: 1170px) {
  .repeater .info .links a .icon {
    font-size: 40px;
  }
}

@media screen and (min-width: 500px) and (max-width: 768px) {
  .repeater .info .links a .icon {
    font-size: 30px;
  }
}

@media screen and (max-width: 500px) {
  .repeater .info .links a .icon {
    font-size: 25px;
  }
}

.repeater .info .links a .fa-envelope:hover {
  color: #f54d4d;
}

.repeater .info .links a .fa-github:hover {
  color: #29da36;
}

.repeater .info .links a .fa-linkedin-square:hover {
  color: #439cfb;
}

.repeater .info .links a .fa-twitter:hover {
  color: #00d0ff;
}

.repeater .info .links a .fa-youtube-play:hover {
  color: #f92525;
}

.repeater .footer {
  height: 30px;
  white-space: nowrap;
  overflow: hidden;
  -webkit-animation: print 0s steps(1) 2s both;
          animation: print 0s steps(1) 2s both;
  position: absolute;
  bottom: 0px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  font-size: 10px;
}

@keyframes print {
  from {
    height: 0;
  }
  to {
    height: 30px;
  }
}

.repeater .footer span {
  font-size: 15px;
}

@media screen and (min-width: 768px) and (max-width: 1170px) {
  .repeater .footer span {
    font-size: 10px;
  }
}

@media screen and (min-width: 500px) and (max-width: 768px) {
  .repeater .footer span {
    font-size: 8px;
  }
}

@media screen and (max-width: 500px) {
  .repeater .footer span {
    font-size: 7px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1170px) {
  .repeater .footer {
    font-size: 8px;
  }
}

@media screen and (min-width: 500px) and (max-width: 768px) {
  .repeater .footer {
    font-size: 6px;
  }
}

@media screen and (max-width: 500px) {
  .repeater .footer {
    font-size: 5px;
  }
}

@-webkit-keyframes blinking {
  to {
    visibility: hidden;
  }
}

@keyframes blinking {
  to {
    visibility: hidden;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes print {
  from {
    height: 0;
  }
}

@-webkit-keyframes hide {
  to {
    opacity: 0;
  }
}

@keyframes hide {
  to {
    opacity: 0;
  }
}
