// general
$darkBackground: black;
$promptGreen: rgb(16, 231, 16);
$buttonBlue: rgb(127, 135, 252);
$promptCyan: rgb(23, 208, 214);
$promptYellow: yellow;
$lightGrey: #ddd;
$headingGrey: rgb(139, 177, 212);
$linkMagenta: rgb(248, 179, 88);

// logos
$javascriptYellow: #f7df1e;
$typescriptBlue: #355fd1;
$reactBlue: #00d1f2;
$sassPink: #d15995;
$gitLabRed: #fc6d26;
$nodeGreen: #67bd3f;
$nestRed: #e0234e;
$mongoGreen: #4aa73c;
$vscodeBlue: #4866ff;

// icons
$mailRed: #cc3b2e;
$githubIconGrey: #bbb;
$linkedinBlue: #0a66c2;
$hashnodeBlue: #3167ff;
$devWhite: #bbb;
// $twitterBlue: #1da1f2;
// $youtubeRed: #f92525;

// mixins
@mixin typingAnimation($textWidth, $delay, $typingTime, $steps) {
  white-space: nowrap;
  overflow: hidden;
  width: $textWidth;
  animation: typing $typingTime steps($steps) $delay both;

  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: $textWidth;
    }
  }
}

@mixin printingAnimation($textHeight, $delay, $printingTime, $steps) {
  height: $textHeight;
  white-space: nowrap;
  overflow: hidden;
  animation: print $printingTime steps($steps) $delay both;

  @keyframes print {
    from {
      height: 0;
    }
    to {
      height: $textHeight;
    }
  }
}

// media mixins
@mixin responsive($screenSize) {
  @if $screenSize == phone {
    @media screen and (max-width: 500px) {
      @content;
    }
  } @else if $screenSize == tabletSmall {
    @media screen and (min-width: 500px) and (max-width: 768px) {
      @content;
    }
  } @else if $screenSize == tabletBig {
    @media screen and (min-width: 768px) and (max-width: 1170px) {
      @content;
    }
  } @else if $screenSize == desktop {
    @media screen and (min-width: 1170px) {
      @content;
    }
  }
}
